#* @vtlvariable name="action" type="com.atlassian.confluence.user.actions.LoginAction" *#
#macro (errorBlock $msg)
<div class="error" tabindex="0"><p>$msg</p></div>
#end

#set($showSignup = $action.isShowSignUp())

<html>
	<head>
        #requireResource("confluence.web.resources:master-styles")
        #requireResource("confluence.web.resources:login")
        #requireResource("confluence.web.resources:aui-forms")
        #requireResource("com.atlassian.confluence.plugins.confluence-scriptsfinished-plugin:scriptsfinished")
	    #if( $fromNotPermitted )
		    <title>$i18n.getText("title.not.permitted")</title>
	    #else
		    <title>$action.getActionName($action.getClass().getName())</title>
		    <content tag="pageTitle"><a href="${req.contextPath}/homepage.action">$action.globalSettings.siteTitle</a></content>
		#end
    #if ($remoteUser)
    <meta http-equiv="Refresh" content="0; url=/">
    #end
	</head>
	<body>
		
        <content tag="bodyClass">login</content>
		#if($showSignup)
		#requireResource("confluence.web.resources:signup")
		<script>
			AJS.$('#com-atlassian-confluence.login h1').addClass('unified-header');
		</script>
		#end

        <div id="login-container" #if($showSignup)class="unified-container"#end>
        #if ($remoteUser)
            <h1>Redirecting to <a href="/">home</a><h1>
        #else
            #applyDecorator("form-aui")
                #decoratorParam("formName" "loginform")
                #decoratorParam("editAction"  "$req.contextPath/saml_login.jsp?$req.getQueryString()")
                <input id="loginButton" class="aui-button aui-style aui-button-primary" name="login" type="submit" value="Log In with SAML"/>
            #end
        #end
        </div>
        #if ($action.isBrowserLanguageEnabled())
            <content tag="login-language">
                <ul id="login-language">
                    #foreach ($lang in $action.getInstalledLanguages())
                        <li>
                            <a href="$req.contextPath/login.action?language=$lang.name">$lang.capitalDisplayName</a>
                        </li>
                    #end
                </ul>
            </content>
        #end
	</body>
</html>
